.jmix-login-main-layout {
    background-color: var(--dark-purple);
}

.login-form-wrapper {
    max-width: calc(var(--lumo-size-l) * 10);
    background: var(--lumo-base-color) linear-gradient(var(--lumo-tint-5pct), var(--lumo-tint-5pct));
    padding: var(--lumo-space-l);
    border-radius: var(--lumo-border-radius-m);
}

.login-form-wrapper > *[has-label] {
    padding-top: 0;
}

.login-logo {
    margin-top: calc(var(--lumo-space-m) * -15);
    margin-bottom: calc(var(--lumo-space-m) * 4);
}

.login-form-error-message {
    background-color: var(--lumo-error-color-10pct);
    padding: var(--lumo-space-m);
    padding-left: var(--lumo-size-m);
    border-radius: var(--lumo-border-radius-m);
    margin-top: var(--lumo-space-m);
    margin-bottom: var(--lumo-space-s);
    color: var(--lumo-error-text-color);
}

.login-form-error-message:before {
    content: var(--lumo-icons-error);
    font-family: lumo-icons;
    font-size: var(--lumo-icon-size-m);
    position: absolute;
    width: var(--lumo-size-m);
    height: 1em;
    line-height: 1;
    text-align: center;
    margin-left: calc(var(--lumo-size-m) * -0.95);
}

.login-form-error-message-title {
    margin: 0 0 0.25em;
    color: inherit;
}

.login-form-error-message-description {
    font-size: var(--lumo-font-size-s);
    line-height: var(--lumo-line-height-s);
    margin: 0;
    opacity: 0.9;
}

.login-form-locale-select {
    width: var(--jmix-login-form-locales-select-width, 8em);
}