.contrast-panel {
    display: flex;
    background-color: var(--secondary-base-color);
    border-radius: var(--lumo-border-radius-m);

    --vaadin-button-background: var(--lumo-base-color);
    --vaadin-grid-cell-background: var(--lumo-base-color);
}

.contrast-panel vaadin-grid {
    background-color: var(--lumo-base-color);
}

/* Creates a 2 column grid that is converted into 1 column if width is less then 25rem */
.grid-panel {
    display: grid;
    width: 100%;
    grid-gap: var(--lumo-space-m);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.spinner {
    height: var(--lumo-size-xs);
    width: var(--lumo-size-xs);
    box-sizing: border-box;
    border: 2px solid var(--lumo-primary-color-10pct);
    border-top-color: var(--lumo-primary-color);
    border-right-color: var(--lumo-primary-color);
    border-radius: 100%;
    -webkit-animation: rotate-360 500ms infinite linear;
    -moz-animation: rotate-360 500ms infinite linear;
    animation: rotate-360 500ms infinite linear;
    pointer-events: none;
}

@keyframes rotate-360 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.user-avatar {
    border-radius: 100%;
    border: 3px solid;
}

.position-red {
    color: #DF6679;
    background-color: #FFC8D0;
}

.user-avatar-border-position-red {
    border-color: #FFC8D0 !important;
}

.position-dark-red {
    color: white;
    background-color: #DF6679;
}

.user-avatar-border-position-dark-red {
    border-color: #FFC8D0 !important;
}

.position-green {
    color: #23BA75;
    background-color: #BAF2D8;
}

.user-avatar-border-position-green {
    border-color: #BAF2D8 !important;
}

.position-yellow {
    color: #E3A023;
    background-color: #FFE2AD;
}

.user-avatar-border-position-yellow {
    border-color: #FFE2AD !important;
}

.position-purple {
    color: #6E64B9;
    background-color: #D6D0FF;
}

.user-avatar-border-position-purple {
    border-color: #D6D0FF !important;
}

.position-dark-purple {
    color: white;
    background-color: #6E64B9;
}

.user-avatar-border-position-dark-purple {
    border-color: #6E64B9 !important;
}

.position-blue {
    color: #249FAF;
    background-color: #BAF7FF;
}

.user-avatar-border-position-blue {
    border-color: var(--turquoise-light-2) !important;
}