/* Define your styles here */

html {
  --lumo-base-color: #F1F3F9;
}

.user-avatar {
    margin-left: 10px;
    border-radius: 100px !important;
    border: 3px solid;
}
  
.user-avatar-border-position-red {
    border-color: #FFC8D0 !important;
}

.position-dark-red {
    color: white;
    background-color: #DF6679;
}

.user-avatar-border-position-dark-red {
    border-color: #FFC8D0 !important;
}

.position-green {
    color: #23BA75;
    background-color: #BAF2D8;
}

.user-avatar-border-position-green {
    border-color: #BAF2D8 !important;
}

.position-yellow {
    color: #E3A023;
    background-color: #FFE2AD;
}

.user-avatar-border-position-yellow {
    border-color: #FFE2AD !important;
}

.position-purple {
    color: #6E64B9;
    background-color: #D6D0FF;
}

.user-avatar-border-position-purple {
    border-color: #D6D0FF !important;
}

.position-dark-purple {
    color: white;
    background-color: #6E64B9;
}

.user-avatar-border-position-dark-purple {
    border-color: #6E64B9 !important;
}

.position-blue {
    color: #249FAF;
    background-color: #BAF7FF;
}

.user-avatar-border-position-blue {
    border-color: #BAF7FF !important;
}
