@import "app/login-view.css";
@import "app/main-view.css";
@import "app/possible-users.css";
@import "app/misc.css";
@import "component/button.css";
@import "component/details.css";

html {
    --turquoise: #4ccfe1;
    --turquoise-dark: #248491;
    --turquoise-light: #6aecff;
    --turquoise-light-2: #baf7ff;
    --dark-purple: #0A2044;
    --app-layout-drawer-background-color: var(--dark-purple);

    --lumo-base-color: #F1F3F9;

    --lumo-primary-color: rgb(76, 207, 225);
    --lumo-primary-color-50pct: rgba(76, 207, 225, 0.5);
    --lumo-primary-color-10pct: rgba(76, 207, 225, 0.1);
    --lumo-primary-text-color: rgb(76, 207, 225);

    --lumo-body-text-color: #4F5C78;
    --lumo-disabled-text-color: #A0AAC0;

    /* Button */

    --vaadin-button-background: #FFF;
    --vaadin-button-text-color: var(--lumo-body-text-color);
}

/* Button */

.jmix-logout-button {
    --vaadin-button-tertiary-text-color: var(--vaadin-button-text-color);
}

/* ValuePicker Button */

jmix-value-picker-button {
    --_lumo-button-color: var(--vaadin-button-text-color);
}

/* Grid */

vaadin-grid {
    --_focus-ring-color: var(--turquoise-dark);
    /*--_lumo-grid-selected-row-color: var(--lumo-primary-color);*/
    --_lumo-grid-selected-row-color: var(--lumo-primary-color-50pct);
}

/* App Layout */

vaadin-app-layout[primary-section="drawer"]::part(drawer) {
    background: var(--app-layout-drawer-background-color);
}

.jmix-main-view-section {
    --drawer-text-color: var(--lumo-primary-contrast-color);

    --lumo-header-text-color: var(--drawer-text-color);
    --lumo-body-text-color: var(--drawer-text-color);
    --lumo-secondary-text-color: var(--drawer-text-color);
    color: var(--drawer-text-color);

    vaadin-details-summary::part(toggle) {
        color: var(--drawer-text-color);
    }

    .jmix-menu-item-link:hover,
    vaadin-details-summary:hover,
    vaadin-details-summary:hover::part(toggle){
        color: var(--lumo-primary-color);
    }
}

.jmix-main-view-application-title-base-link {
    padding: var(--lumo-space-s);
}

/* Notifications */

vaadin-notification-card[theme="contrast"]::part(overlay) {
    background: var(--turquoise-dark);
    color: var(--lumo-primary-contrast-color);
}
